* {
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: sans-serif;
    background-color: silver;
}

.container {
    padding: 0;
    min-height: 100%;
    display: flex;
    justify-content: center;
}

.btn:hover {
    color: white;
}

a {
    font-size: 13px;
    color: rgb(29, 161, 242);
    text-decoration: none;
}

a:visited {
    color: rgb(29, 161, 242);
}

/******************

Main

******************/

.main {
    width: 100%;
    max-width: 600px;
    border-left: 1px solid rgb(235, 238, 240);
    border-right: 1px solid rgb(235, 238, 240);
    text-align: left;
    background-color: azure;
}

.main .header {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(235, 238, 240);
}


.main .header .logo {
    width: 50px;
    margin-right: 20px;
}

.main .header h1 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
    font-weight: bold;
}


/***********

Home load.html

************/

.home .body {
    display: flex;
    padding: 10px;
}

.home .my-icon {
    width: 80px;
    padding: 5px 15px 10px 10px;
}

.home .my-icon img {
    width: 100%;
    border-radius: 50%;
    border: 1px solid rgb(235, 238, 240);
}

.home .body .input-area {
    width: calc(100% - 80px);
    flex-grow: 1;
}

.home .body .input-area input[type=text] {
    border: 0px;
    width: 100%;
    background: #ece6fe;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.home .body .input-area input[type=text]:focus {
    outline: none;
}

.home .body .input-area .textarea {
    border: 0px;
    padding: 10px;
    width: 100%;
    height: 100%;    
}

.home .body .input-area .textarea:focus {    
    outline: none;
    height: 100px;
}

.home .body .input-area .bottom-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid rgb(235, 238, 240);
    padding-top: 8px;
}

.home .body .input-area .bottom-area .btn {
    background-color: rgb(29, 161, 242);
    color: white;
    font-size: 15px;
    font-weight: bold;
}

/****************

Home index.html

****************/

.home .tweet-list .tweet {
    padding: 10px;
    display: flex;
    border-bottom: 1px solid rgb(181, 238, 181);
}

.home .tweet-list .tweet .user {
    width: 80px;
    padding: 5px 15px 10px 10px;
}

.home .tweet-list .tweet .user img {
    width: 100%;
    border-radius: 50%;
    border: 1px solid rgb(235, 238, 240);
}

.home .tweet-list .tweet .content {
    width: calc(100% - 60px);
}

.home .tweet-list .tweet .content p {
    font-size: 16px;
    padding: 8px 0 0 0;
    margin-bottom: 8px;
}

/*.home .tweet-list .tweet .content img.post-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-right: 5px;
    border: 1px solid rgb(197, 199, 201);
}*/

.home .tweet-list .tweet .content .icon-list {
    display: flex;
    margin-top: 15px;
}

.home .tweet-list .tweet .content .icon-list .like img {
    width: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.home .tweet-list .tweet .content .icon-list .like-count {
    width: 25px;
    padding-top: 2px;
    color: #474747;
}

.home .tweet-list .tweet .name {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.home .tweet-list .tweet .name a {
    color: rgb(82, 65, 30);
}

.home .tweet-list .tweet .name a .nickname {
    color: rgb(23, 79, 76);
    font-size: 17px;
    font-weight: bold;
}

.home .tweet-list .tweet .name a .datetime {
    padding-left: 10px;
    color: rgb(71, 71, 71);
    font-size: 14px;
}

.home .tweet-list .tweet .name .small-menu {
    padding-right: 10px;
}

.ditch {
    height: 15px;
    border-top: 1px solid rgb(235, 238, 240);
    border-bottom: 1px solid rgb(235, 238, 240);
    background-color: rgb(247, 248, 248);
    border-bottom: 1px solid rgb(235, 238, 240);
}

@media screen and (max-width:500px) {
    .home .tweet-list .tweet .user {
        width: 60px;
        padding: 5px 10px 10px 5px;
    }
    .bottom-area .btn {
        margin-top: 10px;
    }
}
