<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">       
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <title>Twitter-Clone</title>
        <!-- Icon -->
        <link href="{% static 'img\logo-twitterblue.svg' %}" rel="icon">
         <!-- CSS -->
       <link rel="stylesheet" href="{% static 'style.css' %}">
         <!-- Script -->
        <script src="{% static 'app.js' %}"></script>
    </head>
    <body class="home">
        {% load cloudinary %}
        <h2>Cloudinary</h2>

        {% for picture in pictures %}
            <img src="{{ picture.image.url }}" style="width: 300px">
        {% endfor %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

        <script>
            $(function() {
                $('.js-popover').popover({
                    container: 'body'
                })
            })
        </script>
        <input type="hidden" name="csrfmiddlewaretoken" value="AS8SlBwc5M7Wj9Jtmb42RUN2EqRiICgBnmXSodC6dZ56Nc3zme4atILh6voJYsjp">
    </body>
</html>